modules = ["php-8.2", "web", "bash", "nix"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[[ports]]
localPort = 3306
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
DB_HOST = "127.0.0.1"
DB_PORT = "3306"
DB_NAME = "tt_electro_store"
DB_USER = "root"
DB_PASS = ""
APP_ENV = "development"
APP_DEBUG = "false"
JWT_SECRET = "dev_jwt_secret_32chars_longxxxxx!"
SITE_NAME = "TT Electro Store"
WHATSAPP_NUMBER = "919876543210"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
